@media all and (max-width: 960px){
  .navdesktop-wrapper ul {     display:none!important ;  }
  .hlbig{
    display: none!important;}


.foo-hamburger{

  position: fixed!important;
}
.navmobile-wrapper{

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
    top:0;

  }

.navmobile-wrapper  li {

    display: block;


        padding: 3px 3px 3px 3px;
        text-decoration: none;
        border:1px solid black;
        a{
          text-align: center;
          border-radius: 25px;
          color: white;
          display:block;
          text-decoration: none!important;

        }
  }
  li a:hover {
      background-color: #2E0854;
    //  color: grey;
      padding: 0;
      margin: 0;
} }



/*desktop*/
@media all and (min-width: 960px){
  .hlittle{
    display:none!important;
  }

 .foo-hamburger{ display:none!important;

   }

.navdesktop-wrapper{

  margin:0;
  padding:0;
  list-style:none;
  overflow:auto;
  width: 100%;
position: fixed;
top:0;
}
.navdesktop-wrapper ul{
  background-color: black;
  list-style:none;
  overflow:auto;
  width: 100%;
position: fixed;
top:0;
margin:0;
padding:0;
border-bottom: 2px solid white;
}
  .navdesktop-wrapper li{
    float:left;
    margin-left: 40px;
    margin-top: 8px;





     a{

      text-align: center;
      padding: 14px 16px;
    font-weight: bold;
    display:block;
    text-decoration: none;
   color: grey;



    } a:hover {
      background-color: #2E0854;

}}
}
