h1{
  margin-top: 70px;

}

//mobile
@media all and (min-width:300px) and (max-width: 479px){
  .worksthumb{
    display: none!important;}
    .logo{
      display: none!important;}
      .worksthumbmd{
        display: none!important;}
        .logomd{
          display:none!important;
        }
  }

//tablet
@media all and (min-width: 480px) and (max-width:760px){
  .worksthumbsm{
    display: none!important;}
    .logosm{
      display:none!important;
    }
    .worksthumb{
      display: none!important;}
      .logo{
        display:none!important;
      }
  }
//desktop
  @media all and (min-width: 760px) {
    .worksthumbsm{
      display: none!important;}
      .logosm{
        display:none!important;
      }
      .worksthumbmd{
        display: none!important;}
        .logomd{
          display:none!important;
        }
    }


.worksthumb{
  opacity: 0.5;
  float: right;
  margin-top: 50px;
  margin-right: 40px;

}

.worksthumb:hover{
  opacity:1;
}
.logo{
  opacity: 0.5;
//  display: inline;
  float: right;
  margin-top: 50px;
  margin-right: 40px;

}

.logo:hover{
  opacity:1;
}
h2{
  margin-top: 40px;
}
.article{
  margin-top: 50px;
  columns: 3;}
