h1{
  margin-top: 70px;

}

//mobile
@media all and (min-width:300px) and (max-width: 1020px){
  .worksthumb{
    display: none!important;}
    .logo{
      display: none!important;}
      .worksthumbmd{
        display: none!important;}
        .logomd{
          display:none!important;
        }
  }


//desktop
  @media all and (min-width: 1020px) {
    .worksthumbsm{
      display: none!important;}
      .logosm{
        display:none!important;
      }
      .worksthumbmd{
        display: none!important;}
        .logomd{
          display:none!important;
        }
    }


.worksthumb{
    opacity:1;

  float: right;
  margin-top: 50px;
  margin-right: 40px;

}

.worksthumb:hover{
  opacity: 0.5;
}

.logo{
  opacity:1;

//  display: inline;
  float: right;
  margin-top: 50px;
  margin-right: 40px;

}

.logo:hover{
  opacity: 0.5;
}
.worksthumbsm{
  float:right;
  opacity: 1;
}
.worksthumbsm:hover{
  opacity:0.5;
}
.logosm{
  float:right;
  opacity:1;
}

.logosm:hover{
  opacity:0.5;
}
h2{
  margin-top: 40px;
}
.article{
  margin-top: 50px;
  columns: 3;}
